.divider {
  position: relative;
  display: flex;
  justify-content: center;
  color: #747474;
  margin-bottom: 80px;
  width: 100%;
}

.divider span {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-cta {
  font-size: 22px;
  padding: 12px 24px;
  background-color: #41B329;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  max-width: 428px;
  min-height: 75px;
  transition: background-color 0.3s ease;
}

.btn-cta:hover {
  background-color: #35a820;
}

@media (max-width: 768px) {
  .btn-cta {
    font-size: 18px;
    width: 100%;
    min-height: 60px;
    max-width: 100%;
  }
}






